
@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h2 class="text-center">Xin chào Quản trị viên</h2>
        <img class="text-center" src="https://intphcm.com/data/upload/banner-thoi-trang.jpg" />
    </div>
</div>