@*@using (Html.BeginForm("Index", "AuraStore"))
	{


		<input type="text" name="txtname"/>
			<input type="submit" value="Search" />

	}*@


	@*<form class="form-group">
		@Html.TextBox("search")
		<input type="submit" value="Search" />
	</form>*@

	<div class="search_area zoom-anim-dialog mfp-hide" id="test-search">
        <div class="search_box_inner">
            <h3>Tìm kiếm</h3>
            @using (Html.BeginForm("Index", "AuraStore", FormMethod.Get))
            {
                <div class="input-group">
                    @*<input type="text" class="form-control" placeholder="Search for..." name="search">*@
                    @Html.TextBox("search", null, new { @class = "form-control", @placeholder = "Nhập từ khóa muốn tìm" })
                </div>

                <div class="input-group mt-3">
                    @Html.TextBox("price", null, new { @class = "form-control", @placeholder = "Nhập giá muốn tìm", @type = "number" })
                </div>

                <div class="input-group mt-3">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit">Tìm kiếm  <i class="icon icon-Search"></i></button>
                    </span>
                </div>
            }
        </div>
	</div>
